<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/register" method="post">
    Login: <br>
    <input type="text" name="login"><br>
    Password: <br>
    <input type="password" name="password"><br>
    ipn: <br>
    <input type="number" name="ipn"><br>
    Full name: <br>
    <input type="password" name="full_name"><br>
    Your photo: <br>
    <input type="password" name="photo"><br>
    Passport: <br>
    <input type="password" name="passport"><br>
    Contacts: <br>
    <input type="password" name="contacts"><br>

    <input type="submit" value="send">
</form>


</body>
</html>