<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello {{ full_name }},
<br>

<br method="post" action="/items">
    Item Name:
    <input type="text" name="name" id="name"><br>
    Item Photo:
    <input type="text" name="photo" id="photo"><br>
    Description:
    <input type="text" name="description" id="description"><br>
    Price per hour:
    <input type="text" name="price_hour" id="price_hour"><br>
    Price per day:
    <input type="text" name="price_day" id="price_day"><br>
    Price per week:
    <input type="text" name="price_week" id="price_week"><br>
    Price per month:
    <input type="text" name="price_month" id="price_month"><br>

    <input type="submit">
</form>

</body>
</html>